**/dist/*
**/class/*
**/nbproject/private/*
/EJavaClassWorkshops/week1ft/nbproject/private/
/EJavaClassWorkshops/week1jsf/nbproject/private/
/EJavaClassWorkshops/week1ft/dist/
/EJavaClassWorkshops/week1jsf/dist/
**/node_modules/*
